:root {
    /* Colores */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-gray: #aaa;
    --color-dark-gray: #121212;
    --color-sidebar-bg: #181818;
    --color-sidebar-hover: #313131;
    --color-scrollbar: #717171;

    /* Tamaños */
    --sidebar-width: 240px;
    --header-height: 56px;
    --border-radius: 10px;
    --font-size-small: 0.9rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.2rem;

    /* Otros */
    --transition-speed: 0.3s;
}